.MuiStepConnector-line {
  display: none !important;
}

.checkout_stepper {
  margin-top: 100px;
}

.MuiStepConnector-root {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.349);
}

.MuiStepConnector-active,
.MuiStepConnector-completed {
  background-color: #2874f0 !important;
}
